<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Choose movie</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />


</head>

<body>

	<h3 th:inline="text">Welcome,
		[[${#httpServletRequest.remoteUser}]]!</h3>

	 <form style="position:absolute; top:2%; right:2%;" th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-danger" />
	</form> 

	<form style="position:absolute; top:2%; right:14%;" th:action="@{/userpage}">
		<input type="submit" value="My Watchlist" class="btn btn-success" />
	</form>




	<h1>Choose a movie to your taste!</h1>

	
	<form th:action="@{/findmovie}" method="get"> 
	
	<label for="genrelist">Choose genre</label>
	<select name="genre" th:value="*{genre}" class="form-control">
		<option th:each="genre: ${genres}" th:value="${genre.genreid}"
			th:text="${genre.name}"></option>
	</select>
	
	
	<label for="countrylist">Choose country</label>
	<select name="country" th:value="*{country}" class="form-control">
		<option th:each="country: ${countries}" th:value="${country.countryid}"
			th:text="${country.name}"></option>
	</select>
	
 

	<div style="clear: both; display: block; height: 10px;"></div>
	
	 
	<input class="btn btn-success" type="submit" value="Find a movie!"></input>
	</form>
	<br />
	<td><a class="btn btn-primary" th:href="@{/showall}">Show all movies</a></td>
	<br /> <br />
	<!-- 
	a table showing filtered movies
	
	 -->
	 <table class="table table-striped">
		<tr>
			<th>Poster</th>
			<th>Title</th>
			<th>Year</th>
			<th>Country</th>
			<th>Director</th>
			<th>Genre</th>
			<th></th>
			<th></th>
			<th></th>

		</tr>
		
		<tr th:each="movie : ${movies}">
			<td ><img th:src="${movie.src}" height="200px" /></td>
			<td><a th:href="@{/movieinfo/{id}(id=${movie.id})}"><span th:text="${movie.title}"></span></a></td>
			<td th:text="${movie.year}"></td>
			<td th:text="${movie.country.name}"></td>
			<td th:text="${movie.director}"></td>
			<td th:text="${movie.genre.name}"></td>
			
			<td><a class="btn btn-success" th:href="@{/addmovie/{id}(id=${movie.id})}"> Add to my watchlist</a></td>
			
			<!-- only admin can access these buttons -->
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-warning"
				th:href="@{/edit/{id}(id=${movie.id})}">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger"
				th:href="@{/delete/{id}(id=${movie.id})}">Delete</a></td>
		</tr>
	</table>
	 

</body>
</html>